<!DOCTYPE html>
<html>
<head>
  <title>RakeDashboard</title>
  <%= stylesheet_link_tag    "rake_dashboard/application", media: "all" %>
  <%= javascript_include_tag "rake_dashboard/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
